<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos - MASU S.R.L.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<!-- Menú de Navegación -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(255, 255, 255, 0.192);">

    
    <h1 class="navbar-brand" href="#" style="color: rgb(251, 249, 252); font-size: 30px;">MASU S.R.L.</h1>
    <body style="background-image: url('{{ url_for('static', filename='images/fondo1.jpg') }}'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    color: white;">

    </body>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(251, 249, 252);">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/quienes-somos" style="color:rgb(251, 249, 252);">Quiénes somos</a></li>
            <li class="nav-item"><a class="nav-link" href="/servicios" style="color: rgb(251, 249, 252);">Servicios</a></li>
            <li class="nav-item"><a class="nav-link" href="/noticias" style="color: rgb(251, 249, 252);">Noticias</a></li>
            <li class="nav-item"><a class="nav-link" href="/contacto" style="color: rgb(251, 249, 252);">Contacto</a></li>
        </ul>
    </div>
</nav>

<!-- Historia -->
<section class="container my-5">
    <h1 class="text-center">Nuestra Historia</h1>
    <p>
        Empresa MASU S.R.L. nació en 2025 con el objetivo de OfreceR una amplia variedad de productos para todos los gustos y ocasiones. Desde nuestros humildes inicios, estamos crecido hasta convertirnos en un referente del sector, gracias a la confianza de nuestros clientes y al compromiso de nuestro equipo.
    </p>
</section>

<!-- Misión y Visión -->
<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar a nuestros clientes bebidas de la más alta calidad, ofreciendo una amplia variedad de cervezas, jugos naturales, agua y otros productos refrescantes. Nos comprometemos a ser un socio confiable para cada cliente, brindando productos frescos, seguros y con el mejor servicio, siempre a precios competitivos. Nuestra pasión por la calidad y la satisfacción del cliente nos impulsa a seguir innovando y a mantenernos como líderes en el mercado.
            </div>
        <div class="col-md-6">
            <h2>Visión</h2>
            <p>Ser la empresa líder en distribución de bebidas en nuestra región, reconocida por su compromiso con la calidad, el servicio al cliente y la innovación. Buscamos ser la primera opción para todos aquellos que buscan refrescarse con productos de confianza, contribuyendo al bienestar de nuestras comunidades y estableciendo relaciones duraderas con nuestros clientes y proveedores.

            </div>
    </div>
</section>

<!-- Equipo -->
<section class="container my-5">
    <h2 class="text-center">Nuestro Equipo</h2>
    <div class="row text-center">
        <div class="col-md-4 offset-md-2">
            <h5>ISMAEL MAMANI SULLCA</h5>
            <p>Fundador</p>
            
        </div>
        <div class="col-md-4">
           <h5>FLORENTINO SULLCA ARIAS</h5>
            <p>Jefe de Planta</p>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2025 Empresa MASU S.R.L. - Todos los derechos reservados</p>
</footer>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
